<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Ripeness Guesstimater V1</h1>
    <p class="text-center text-muted">We only accept jpgs right now. Sorry.</p>
    <div class="col-md-6 offset-md-3">
        <form action="/bananatest" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-6 pt-3">
                <div class="mb-3">
                    <!-- <label for="formFile" class="form-label">Choose Image</label> -->
                    <input class="form-control" type="file" id="formFile" name="image">
                </div>
                <!-- <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image">
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div> -->
            </div>
            <div class="mb-3 pt-3">
                <button class="btn btn-success">Check Banana</button>
            </div>
        </form>
    </div>
</div>