<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Your Banana is <span class="text-warning"><%=prediction%></span></h1>
        <div class="text-center pt-3">
            <a href="/" class="btn btn-success">Check another banana?</a>
        </div>
    </div>
</div>